@import "tailwindcss";

:root {
  --background:rgba(255, 255, 255, 0.87);
  --foreground:rgb(255, 255, 255);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
